*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}


body, html{
    height: 100%;
    margin: 0;
    padding: 0;
}
#app {
    height: 100%;
}


body {
    font-family: "Ubuntu", "Helvetica", "微軟雅黑", "Microsoft YaHei", "Segoe UI Semibold", "Segoe UI", 
    "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
    background: #a3fcfd5e;
}

main {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    min-width: 100%;
    min-height: calc(100% - 50px);
    padding: 50px;
}


#header-div {
    font-size: 30px;
    margin-bottom: 40px;
}

#CF-rating-table th {
    text-align: center;
    font-size: 25px;
    font-style: bold;
    padding-bottom: 10px;
}

#CF-rating-table td{
    text-align: center;
    font-size: 30px;
    padding: 3px 10px;
    font-family: monospace;
}

a.profile-link {
    text-decoration: none;
    color: unset;
}

#footer {
    width: 100%;
    text-align: center;
    height: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 17px;
    opacity: 0.5;
}

#github-link{
    outline: none;
}